@import url('https://fonts.googleapis.com/css?family=Chicle|Noto+Sans');
/* General styling and global tags */
body {
  margin: 0;
  background-color: rgba(248, 240, 230, .5);
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
}
input, textarea, select, button {
	font-size: 16px;
}
h1, h2, h3 {
	font-family: 'Chicle', cursive;
	letter-spacing: 1.2px;
}
h1 {
	font-size: 47px;
	margin: 0;
}
header {
  padding: 12px 5%;
  background-color: rgba(240, 230, 248, .5);
}
main {
	padding: 0 250px 50px 2%;
  text-align: center;
}
/* Main Content */
.board {
	box-sizing: border-box;
	border-radius: 12px;
	border: 4px solid rgba(49, 147, 248, .8);
	clear: both;
	height: 71vw;
	min-height: 450px;
	position: relative;
}
.board.grayed-out:before, .board-column.full-column:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(240, 230, 248, .8);
	z-index: 9999;

}
.board-column {
	position: relative;
	box-sizing: border-box;
	/* 100%  / 7 */
	width: 14.2857%;
	height: 100%;
	float: left;
	transition: .2s;
}
.board-column:hover {
	cursor: pointer;
	background-color: rgb(42, 244, 58, .3);
}
.board-column.full-column {
	cursor: not-allowed;	
}
.board-space {
	box-sizing: border-box;
	width: 100%;
	/* 100%  / 6 */
	height: 16.6666%;
	border-radius: 30%;
	border: 7px solid rgba(49, 147, 248, .8);
}
.board-space.users {
	background-color: rgb(42, 244, 58);
}
.board-space.opponents {
	background-color: rgb(244, 42, 58);
}
/* Chat sidebar */
.chat {
	position: fixed;
	z-index: 9999;
	right: 0;
	top: 18vh;
	bottom: 18vh;
	width: 230px;
	min-height: 230px;
	padding: 5px 5px 60px;
	background-color: white;
	border-radius: 12px;
	border: 4px solid rgba(49, 147, 248, .8);
}
.chat .chat-inner {
	overflow-y: scroll;
	height: 100%;
}
.chat h2 {
	margin-top: 0;
	margin-bottom: 7px;
}
.chat p {
	border-radius: 12px; 
	margin: 0;
	padding: 4px;
	margin: 3px 0;
}
.chat p.users {
	background-color: rgba(42, 244, 58, .8);
	float: left;
}
.chat p.opponents {
	background-color: rgba(244, 42, 58, .8);
	float: right;
}
.chat form {
	border-radius: 12px;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(240, 230, 248);
}